DB_HOST=localhost
DB_PORT=5434
DB_USER=btc_user
DB_PASSWORD=btc_password
DB_NAME=btc_db



EMAIL_FROM=your_email@gmail.com
EMAIL_TO=receiver@gmail.com
EMAIL_APP_PASSWORD=your_app_password
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587